<%=render "users/top" %>

<div class="row">
  <div class="col-md-6 offset-md-3">

  </div>
</div>

<% @user.liked_photos.each do |this_photo| %>
  <%=render "photos/photo", photo: this_photo %>
<% end %>
